<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="studentStart" value="1" />
    <add key="studentEnd" value="300" />
    <add key="attemptStart" value="0" />
    <add key="attemptEnd" value="30" />
    <add key="taskPath" value="C:\Users\peto\Desktop\per_task_all\Uloha_8-1\" />
    <add key="method" value="1" />
    <!-- 1 - choose one for complex method and 0 - for fast method-->
    <add key="timeShow" value="1" />
    <!-- 1 - choose one for show method and 0 - for hide-->
   
  </appSettings>
</configuration>